﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" action="https://localhost:7206/File/DownloadFile" style="gap:15px;display:flex; justify-content:center; flex-direction:column; align-items:center">
    <label for="firstName">First name</label>
    <input name="firstName"/>
    <label for="lastName">Last name</label>
    <input name="lastName" />
    <label for="fileName">File name</label>
    <input name="fileName" />
    <button type="submit">Submit</button>
</form>